@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: "Inconsolata", monospace;
  letter-spacing: 0.2rem;
  color: #fff;
}

.navbar {
  background: #262627;

  display: flex;
  align-items: center;
}

.navbar-menu {
  padding: 1.5rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-menu img {
  display: block;
  width: 3.5rem;
  height: 3.5rem;
}

.navbar h1 {
  font-size: 3.5rem;
  font-weight: 800;
  text-transform: uppercase;
  padding: 2rem 1.5rem;
}

/* Editor Section */
.editor {
  display: flex;
  align-items: stretch;
}

.editor--1 {
  flex: 0 0 auto;
  width: 50%;
}

.editor--1:nth-of-type(1) {
  border-right: 1px solid gray;
}

.editor__full {
  width: 100%;
}

.editor__heading {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1rem 2rem;
  background: #222223;
}

.editor__heading h2 {
  text-transform: uppercase;
  font-size: 2.5rem;
}

.editor__view {
  width: 2.5rem;
  height: 2.5rem;
}

.editor__view img {
  display: block;
  width: 100%;
  height: 100%;
}

.editor__area {
  height: 100vh;
  padding: 1.2rem;
  /* line-height: 1.5; */
  min-height: 100vh;
  overflow-wrap: break-word;
  background: #181818;
}

.editor__area textarea {
  font-family: inherit;
  background: unset;
  color: inherit;

  width: 100%;
  outline: 0;
  border: 0;
}

.editor__output,
.editor__area textarea {
  overflow-y: scroll;
  height: 100%;
}

button {
  background: transparent;
  cursor: pointer;
  outline: none;
  border: 0;
}

textarea {
  resize: none;
  /* line-height: 1.5; */
}

textarea::-webkit-scrollbar,
.editor__output::-webkit-scrollbar {
  display: none;
}

textarea::-webkit-resizer,
textarea::-ms-clear,
textarea::-ms-reveal {
  display: none;
}

.editor__area h1,
.editor__area h2,
.editor__area h3,
.editor__area h4,
.editor__area h5,
.editor__area h6 {
  line-height: 1;
  padding-bottom: 1rem;
  border-bottom: 1px solid gray;
}

.editor__area h1 {
  font-size: 3rem;
}

a:link,
a:visited {
  display: inline-block;
  font-size: 1.5rem;
  font-style: italic;
  color: #fff;
}

pre {
  padding: 2rem 0;
  font-size: 1.4rem;
  position: relative;
}

pre::before,
pre::after {
  height: 80%;
  content: "";
  display: block;

  position: absolute;
  transform: translateY(-50%);
  top: 50%;
}

pre::before {
  right: 0;
  width: 100%;
  background: rgb(34, 34, 34);
}

pre::after {
  left: 0;
  width: 0.2rem;
  background: orangered;
}

pre code {
  position: relative;
  display: inline-block;
  padding: 0 1rem;
}
